.tarjeta{
   background-color: $verdeClaro;
    
  
}
.card-title{
    text-transform: uppercase;
    font-weight: lighter;
}
.card-text{
font-size: 12px;
}
.btn{
    background-color: $rosado;
    border-color: $verdeOscuro;
}