h1{
    color:$azul;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:$azul;
    font-weight: lighter;
}
h3{
    
    color:$azul;
    font-family: monospace;
    font-weight: lighter;
    
}
h4{
    color:$azul;
    font-family: monospace;
    font-weight: lighter;
}
h5{
    color:$azul;
    font-family: monospace;
    font-weight: lighter;
}
h6{
    color: $azul;
    font-family: monospace;
    font-weight: lighter;
}


